<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Pic2IcoV3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Pic2IcoV3.Properties.Settings>
            <setting name="s_ColorTemplate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="s_UseOriginalFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="s_FolderPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="s_OriginalSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="s_Sizes" serializeAs="String">
                <value>11111111</value>
            </setting>
            <setting name="s_OriginalColor" serializeAs="String">
                <value/>
            </setting>
            <setting name="s_ReplacementColor" serializeAs="String">
                <value/>
            </setting>
            <setting name="s_ReplacementTolerance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="s_ReplaceColor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="s_ColorDepth" serializeAs="String">
                <value>0</value>
            </setting>
        </Pic2IcoV3.Properties.Settings>
    </userSettings>
</configuration>
